.App {
  text-align: center;
  background-color: rgb(17, 16, 16);
  height: 100%;
  color: white;
}

.SearchBox {
  border: solid 1px black;
}

.LocationContainer {
  border: solid 2px rebeccapurple;
}

.ResidentContainer {
  border: solid 3px greenyellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ResidentInfo {
  background-color: #3c3e44;
  border-radius: 4%;
  margin: 8px;
}